html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }

fieldset, img { border:none; }

img{display: block;}

address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }

ul, ol { list-style:none; } 
body { color:#333; font:12px/20px "SimSun","微软雅黑","Arial Narrow",HELVETICA; background:#fff;/* overflow-y:scroll;*/ overflow-x:hidden;}

a { color:#666; text-decoration:none; }

a:visited { color:#666; }

a:hover, a:active, a:focus { text-decoration:underline; }
#top{
	width: 1280px;
	height: 87px;
	background: #eee;
}
#cart{
	width: 1006px;
	background:#E0E0E0;
	overflow: hidden;
	margin-left: 132px;
}
#cart ul{
	margin-top: 10px;
	height: 35px;
	border-bottom: 2px solid #000;
}
#cart li{
	float: left;
	font-size: 15px;
	line-height: 35px;
	margin:0 5px;
}
#mid{
	height: 32px;
}
#mid b{
	color: red;
	font-size: 16px;
	float: left;
	line-height: 32px;
}
#mid img{
	float: left;
	margin-top: 6px;
}
#mid span{
	width: 560px;
	height: 22px;
	background: #f7f8f8;
	float: right;
	color: red;
	text-align: center;
	line-height: 22px;
	margin-top: 5px;
}  
#mid #close{
	color: black;
	font-style: normal;
	display: block;
	width: 14px;
	height: 14px;
	font-size: 14px;
	line-height: 14px;
	float: right;
	margin: 6px 4px 0 0;
	font-weight: bold;
	cursor: pointer;
}
#cartlist{
	width: 1008px;
}
#cartlist .col1{
	height: 26px;
	background: #9e9e9e;
	color: #FFFFFF;
}
#cartlist td{
	border: 1px solid #f3f3f3;
	text-align: center;	
}
#cartlist{
	border-collapse:collapse ;
	margin-left: 132px;
}
.col2 img{
	width: 54px;
	height: 72px;
}
.col2 li{
	float: left;
	line-height: 75px;
}
.border{
	border-right:1px  solid #f3f3f3;
	padding: 0 18px;
}
.margin5{
	margin-left: 5px;
}
.col3 p{
	float: left;
	text-decoration: underline;
	color: #9e9e9e;
	line-height: 54px;
	margin-left: 19px;
	cursor: pointer;
}
.col3 .red{
	color: red;
	margin-left:184px ;
}
.col3 ul{
	float: left;
	width: 462px;
	margin: 4px 0 0 80px;
}
.col3 li{
	float: left;
	text-align: left;
	font-size: 13px;
	width: 150px;
	margin: 3px 0;
}
.col3 .total{
	font-weight: bold;
	font-size: 15px;
}
#add img{
	cursor: pointer;
	width: 10px;
	height: 10px;
}
#cut img{
	cursor: pointer;
	width: 10px;
	height: 10px;
}
#add{
	margin-top: 32px;
	margin-left: 10px;
}
#cut{
	margin-top: 32px;
	margin-right: 10px;
}
.col2 .margin20{
	margin-left: 46px;
}
.active1{
	display: none;
}
.active2{
	display: block;
}
#nogood{
	width: 1006px;	
	height: 100px;
	background: #E0E0E0 url(../logo/logo1.bmp) no-repeat;
	margin-left: 132px;
	background-position:26px 15px ;
	position: relative;
}
#nogood b{
	font-size: 14px;
	margin: 36px 0 0 85px;
	float: left;
}
#nogood ul{
	float: left;
	position: absolute;
	top: 67px;
	left: 84px;
}
#nogood li{
	float: left;
	font-size: 13px;
}
#nogood a{
	font-size: 13px;
	color: blue;
	padding: 0 13px;
}
